
.body {
   background-color: #f0f0f0;
   font-family: 'Trocchi', serif;
   position:relative;
   height: 100%;

}

#container>h1 {
  color: #9fa9a3;
  font-size: 35px;
  font-weight: normal;
  line-height: 48px;
}

#container>h2 {
  color: #9fa9a3;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
}
/*QUOTES STYLES*/
#myBlockquote {
  margin: 70px 50px 0px 50px;
  text-align: right;
  border-left: 5px solid #e3e0cc;
  border-bottom: 5px solid #e3e0cc;
}

#quoteDisplay{
  color: #636c72;
  text-align: center;
}
/*BUTTONS STYLE*/
.buttons{
  margin-top: 50px;
  text-align:center;
  color: black;
  overflow:auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

#quoteButton, #twitter {
  background-color: #c5d5c5;
  border-color: #c5d5c5;
  cursor: pointer;
  color: black;
  width: 120px;
}

#quoteButton:hover, #twitter:hover {
    color: black;
    background-color: #9ba39b;
    border-color: #9ba39b;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:50px;
  text-align: center;
}
